{% extends "layouts/baselayout.html" %}
{% block title %}
  Login | The Pythonomicon
{% endblock %}

{% block content %}
<div class="login-page sidebar-collapse">
    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image:url(static/img/login.jpg)"></div>
        <div class="container">
            <div class="col-md-4 content-center">
                <div class="card card-login card-plain">
                    <form class="form" method="post" action="{{ url_for('app.login') }}">
                        {{ form.hidden_tag() }}
                        <div class="header header-primary text-center">
                            <div class="logo-container">
                                <img src="static/img/now-logo.png" alt="">
                            </div>
                        </div>
                        <div class="content">
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
                                {{ form.username(class="form-control") }}
                                <!-- <input type="text" name="username" class="form-control" placeholder="Username..."> -->
                            </div>
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                </span>
                                {{ form.password(class="form-control") }}
                                <!-- <input type="password" name="password" placeholder="Password" class="form-control" /> -->
                            </div>
                        </div>
                        <div class="footer text-center">
                            {{ form.submit(class="btn btn-primary btn-round btn-lg btn-block") }}
                            <!-- <input type="submit" class="btn btn-primary btn-round btn-lg btn-block"> -->
                        </div>
                        <div class="pull-left">
                            <h6>
                                <a href="{{ url_for('app.signup') }}" class="link">Create Account</a>
                            </h6>
                        </div>
                        <div class="pull-right">
                            <h6>
                                <a href="#pablo" class="link">Need Help?</a>
                            </h6>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}