{% extends "layouts/baselayout.html" %}
{% block title %}
  The Pythonomicon - By SmyhkTech
{% endblock %}

{% block content %}
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
      <div class="page-header-image" data-parallax="true" style="background-image: url('static/img/bg5.jpg');">
      </div>
      <div class="container">
        <div class="content-center brand">
          <h1 class="h1-seo">The Pythonomicon</h1>
          <h3><em>noun</em> | pytho·nomi·con \'pithō, nämi, kän\</h3>
          <p class="category">A developer's journal documenting my experiences with Python.</p>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">

        <h3 class="title">About me</h3>
        <h5 class="description">An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based
          Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid
          groove structure. An artist of considerable range.</h5>

      </div>
    </div>
  </div>
{% endblock %}